{% extends "layout.njk" %}

{% block head %} 
    <title>Rocketseat - Conteúdos</title>
{% endblock %}

{% block content %}
<section class="cursos">

    <div class="curso" id="starter">
        <div class="curso__image-container">
            <img src="https://skylab.rocketseat.com.br/static/64c237ccff807c054339a62d53b4b402.svg" alt="Starter">
        </div>
        <div class="curso__content">
            <p>Starter</p>
        </div>
        <div class="curso__info">
            <p>x módulos</p>
            <p class="curso__price">Free</p>
        </div>
    </div>

    <div class="curso" id="launchbase">
        <div class="curso__image-container">
            <img src="https://skylab.rocketseat.com.br/static/0828532024cb46921a6b5e941f8d788d.svg" alt="LaunchBase">
        </div>
        <div class="curso__content">
            <p>LaunchBase</p>
        </div>
        <div class="curso__info">
            <p>x módulos</p>
            <p class="curso__price">Free</p>
        </div>
    </div>

    <div class="curso" id="gostack">
        <div class="curso__image-container">
            <img src="https://skylab.rocketseat.com.br/static/83a178a0653dab1d55e2ed7946465975.svg" alt="GoStack">
        </div>
        <div class="curso__content">
            <p>GoStack</p>
        </div>
        <div class="curso__info">
            <p>x módulos</p>
            <p class="curso__price">Free</p>
        </div>
    </div>

</section>

<div class="modal-overlay">
    <div class="modal">
        <a class="close-modal">
            <i class="material-icons">close</i>
        </a>
        <a class="maximize-modal">
            <i class="material-icons">fullscreen</i>
        </a>
        <div class="modal-content">
            <iframe src="" frameborder="0"></iframe>
        </div>
    </div>
</div>

<script src="/script.js"></script>  
    
{% endblock %}