{% extends "layout.njk" %}

{% block head %} 
    <title>Rocketseat - Sobre</title>
{% endblock %}

{% block content %}
<section>
    <div id="wrapper">
        <img src="https://pbs.twimg.com/profile_images/1271517147349626881/Mf1UjRa0.jpg" alt="">
        <h1 id="wrapper-name">Rocketseat</h1>
        <h2>Mais do que uma plataforma de educação em tecnologia, uma comunidade incrível de devs em busca do próximo nível</h2>
        <ul>
            <li>Html</li>
            <li>CSS</li>
            <li>Javascript</li>
            <li>React</li>
        </ul>
    </div>

    <div id="links-footer">
        <a href="https://github.com/Rocketseat" target="_blank">Github</a>
        <a href="https://www.instagram.com/rocketseat_oficial/" target="_blank">LinkedIn</a>
        <a href="https://www.facebook.com/rocketseat" target="_blank">Twitter</a>
    </div>
</section>
{% endblock %}